/.idea/
/.DS_Store
/*/*/.DS_Store
/*/.DS_Store
/*.log
/*/*.log
/*/*/*.log
/*/*/*/*.log
/*/*/*/*/*.log
/*/*/*/*/*/*.log
/*/*/*/*/*/*/*.log
/bin/cache
/bin/data
/bin/wing-binlog-go
/bin/wing-binlog-go.pid
/bin/logs/
/pkg
/vendor/pkg/
/*.pid
/back
/vendor/library
/vendor/golang.org
/vendor/github.com
/tests/bin/*
/tests/bin/cache/*
/dev/*
/clients/web/*.log
/bin/wing-binlog-go.exe
/vendor/bin/*
/bin/config2/*
/bin/config3/*
/bin/config3/*
/bin/cache_test.pos
/tools
/*.pid
/*/*.pid
/*/*/*.pid
/bin/xcrontab
/bin2/*
/bin3/*
bin/nohup.out
*.pid
*.zip
*.log
src/statik/statik.go
*.gz
nohup.out
*.zip
*.log
vendor
